:root {
    --white: #FFFFFF;
    --grey: #808080;
    --black: #000000;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: square;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: fixed;
    top: 10px;
    right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
